@import "../../scss/utils";

.cards {
  display: grid;
  gap: vw(20px);
  margin-bottom: vw(30px);

  @include HD {
    gap: vwh(20px);
    margin-bottom: vwh(30px);
  }

  @include Tablet {
    gap: vwt(20px);
    margin-bottom: vwt(30px);
  }

  @include Mobile {
    gap: vwm(20px);
    margin-bottom: vwm(30px);
  }
}

.link {
  display: inline-flex;
  align-items: center;

  @media (any-hover: hover) {
    &:hover {
      background-color: #2E9AFF;
      transition: background-color 0.1s linear;

      svg {
        transform: translateX(4px);
      }
    }
  }

  &:active {
    background-color: #19548c;
  }

  svg {
    transition: transform 0.2s linear;
  }
}
