@import "../../scss/utils";

.link {
  display: inline-flex;
  align-items: center;
  gap: vw(10px);
  //color: var(--link-color);
  transition: color 0.2s ease;

  @include HD {
    gap: vwh(10px);
  }

  @include Tablet {
    gap: vwt(10px);
  }

  @include Mobile {
    gap: vwm(10px);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--link-color-hover);

      svg {
        stroke: var(--link-color-hover);
      }

      svg path:nth-child(2) {
        transform: translate(2px, -2px);
      }

      svg path:nth-child(3) {
        transform: translate(2px, -2px);
      }
    }
  }

  &:active {
    transition: color 0.1s ease;
    color: var(--link-color-active);

    svg {
      transition: stroke 0.1s ease;
      stroke: var(--link-color-active);
    }
  }

  svg {
    transition: stroke 0.2s ease;
   // stroke: var(--link-color);
    stroke: var(--text-primary);
    width: vw(22px);
    height: vw(22px);


    @include HD {
      width: vwh(22px);
      height: vwh(22px);
    }

    @include Tablet {
      width: vwt(22px);
      height: vwt(24px);
    }

    @include Mobile {
      width: vwm(22px);
      height: vwm(22px);
    }

  }

  svg path {
    transition: transform 0.1s linear;
  }
}