@import "../../scss/utils";

.card  {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 6px;

  &:hover {
    border: 1px solid #F0F8FF;
  }
}

.dates {
  font-weight: lighter;
  font-size: 14px;
}

.name {
  margin-bottom: 10px;
}

.link {
  margin-bottom: vw(10px);
}