@import "../../scss/utils";

.card  {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: vw(30px);
  padding: vw(20px);
  border: vw(1px) solid transparent;
  border-radius: vw(8px);
  transition: border-color 0.15s ease-in-out;

  @include HD {
    gap: vwh(30px);
    padding: vwh(20px);
    border: vwh(1px) solid transparent;
    border-radius: vwh(8px);
  }

  @include Tablet {
    border-radius: 0;
    gap: vwt(30px);
    padding: 0;
    border: none;
  }

  @include Mobile {
    grid-template-columns: 1fr;
    gap: vwm(10px);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: vw(1px) solid #F0F8FF;

      @include HD {
        border: vwh(1px) solid #F0F8FF;
      }

      @include Tablet {
        border: none;
      }
    }
  }
}

.dates {
  padding-top: vw(3px);
  font-weight: lighter;
  font-size: vw(14px);

  @include HD {
    padding-top: vwh(3px);
    font-size: vwh(14px);
  }

  @include Tablet {
    padding-top: vwt(3px);
    font-size: vwt(14px);
  }

  @include Mobile {
    padding-top: vwm(3px);
    font-size: vwm(14px);
  }
}

.name {
  margin-bottom: vw(10px);

  @include HD {
    margin-bottom: vwh(10px);
  }

  @include Tablet {
    margin-bottom: vwt(10px);
  }

  @include Mobile {
    margin-bottom: vwm(10px);
  }
}

.link {
  margin-bottom: vw(10px);

  @include HD {
    margin-bottom: vwh(10px);
  }

  @include Tablet {
    margin-bottom: vwt(10px);
  }

  @include Mobile {
    margin-bottom: vwm(10px);
  }
}

.description {
  font-size: vw(16px);

  @include HD {
    font-size: vwh(16px);
  }

  @include Tablet {
    font-size: vwt(16px);
  }

  @include Mobile {
    font-size: vwm(16px);
  }
}