@import "../../scss/utils";

.card  {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: vw(30px);
  padding: vw(20px);
  border: vw(1px) solid transparent;
  border-radius: vw(8px);
  transition: border-color 0.15s ease-in-out;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: vw(1px) solid #F0F8FF;
    }
  }
}

.dates {
  padding-top: vw(3px);
  font-weight: lighter;
  font-size: 14px;
}

.name {
  margin-bottom: 10px;
}

.link {
  margin-bottom: vw(10px);
}

.description {
  font-size: vw(16px);
}