@import "../../scss/utils";

.about {
  padding-top: 160px;
  display: grid;
  gap: vw(20px);

  @include HD {
    gap: vwh(20px);
  }

  @include Tablet {
    gap: vwt(20px);
  }

  @include Mobile {
    gap: vwm(20px);
  }
}

.link {
  color: #FFB02E;

  &:hover {
    color: #FF822D;
  }

  &:active {
    color: #FF6723;
  }
}

.item {
  position: relative;
  padding-left: vw(20px);

  @include HD {
    padding-left: vwh(20px);
  }

  @include Tablet {
    padding-left: vwt(20px);
  }

  @include Mobile {
    padding-left: vwm(20px);
  }

  &:before {
    content: "";
    width: vw(6px);
    height: vw(6px);
    border-radius: 50%;
    background-color: var(--text-primary);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include HD {
      width: vwh(6px);
      height: vwh(6px);
    }

    @include Tablet {
      width: vwt(6px);
      height: vwt(6px);
    }

    @include Mobile {
      width: vwm(6px);
      height: vwm(6px);
    }
  }
}
