@import "../../scss/utils";

.about {
  padding: 160px 0 40px;
  display: grid;
  gap: vw(20px);

  @include HD {
    gap: vwh(20px);
  }

  @include Tablet {
    gap: vwt(20px);
  }

  @include Mobile {
    gap: vwm(20px);
  }
}

.link {
  //text-decoration: underline;
  font-weight: 700;
  //color: var(--link-color);
  transition: color 0.2s ease;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--link-color-hover);
    }
  }

  &:active {
    transition: color 0.1s ease;
    color: var(--link-color-active);
  }
}

.item {
  display: flex;
  align-items: baseline;
  gap: vw(10px);

  svg {
    width: vw(14px);
    height: vw(14px);
  }
}

