@import "../utils";

html {
  height: 100%;
  font-family: "Source Sans 3", sans-serif;
 //font-family: "JetBrains Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: vw(18px);
  line-height: 1.5;
  color: var(--text-primary);

  background-color: var(--background-color);

  @include HD {
    font-size: vwh(18px);
  }

  @include Tablet {
    font-size: vwt(18px);
  }

  @include Mobile {
    font-size: vwm(18px);
  }
}

#root {
  position: relative;
}

h1 {
  font-size: vw(56px);
  line-height: vw(54px);
  font-weight: bold;

  @include HD {
    font-size: vwh(56px);
    line-height: vwh(54px);
  }

  @include Tablet {
    font-size: vwt(60px);
    line-height: vwt(54px);
  }

  @include Mobile {
    font-size: vwm(60px);
    line-height: vwm(54px);
  }
}

h2 {
  font-size: vw(36px);
  line-height: vw(54px);
  font-weight: bold;

  @include HD {
    font-size: vwh(36px);
    line-height: vwh(54px);
  }

  @include Tablet {
    font-size: vwt(36px);
    line-height: vwt(54px);
  }

  @include Mobile {
    font-size: vwm(36px);
    line-height: vwm(54px);
  }
}

h3 {
  font-size: vw(28px);
  line-height: vw(36px);
  font-weight: bold;

  @include HD {
    font-size: vwh(28px);
    line-height: vwh(36px);
  }

  @include Tablet {
    font-size: vwt(28px);
    line-height: vwt(36px);
  }

  @include Mobile {
    font-size: vwm(28px);
    line-height: vwm(36px);
  }
}