:root {
  --background-color: #141416;
  --text-primary: #ECEEFF;
  --text-secondary: #FFB02E;
  --link-color: var(--text-secondary);
  //--link-color-hover: #FF822D;
  --link-color-hover: var(--text-secondary);
  //--link-color-active: #FF6723;
  --link-color-active: #FF822D;
}