:root {
  // background
  --background-color: #141416;
  --background-primary-stars: #bfbfc0;
  --background-secondary-stars: #35434b;

  // text
  --text-primary: #ECEEFF;

  // link
  --link-color-hover: #FFB02E;
  --link-color-active: #FF822D;
}