@import "../../scss/utils";

.wrapper {
  margin: 0 vw(250px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: vw(40px);

  @include HD {
    margin: 0 vwh(45px);
    gap: vwh(40px);
  }

  @include Tablet {
    margin: 0 vwt(12x);
    gap: vwt(40px);
  }

  @include Mobile {
    margin: 0 vwm(12px);
    gap: vwm(40px);
  }
}

.header {
  position: fixed;
  top: 0;
  padding: vw(160px) 0 vw(100px);
  height: 100vh;
  max-height: 100vh;
  display: grid;
  align-content: space-between;
  gap: vw(50px);

  @include HD {
    padding: vwh(140px) 0 vwh(80px);
    gap: vwh(50px);
  }

  @include Tablet {

  }

  @include Mobile {

  }

}

.info {
  margin-bottom: vw(90px);

  @include HD {
    margin-bottom: vwh(90px);
  }

  @include Tablet {

  }

  @include Mobile {

  }
}

.title {
  display: grid;
  grid-template-areas:
    "hello emogi"
    "name emogi";
  gap: 0 vw(10px);
  margin-bottom: vw(20px);

  @include HD {
    gap: 0 vwh(10px);
    margin-bottom: vwh(20px);
  }

  @include Tablet {

  }

  @include Mobile {

  }
}

.hello {
  grid-area: hello;
}

.name {
  grid-area: name;
}

.emoji {
  font-size: vw(65px);
  grid-area: emogi;
  align-self: end;

  @include HD {
    font-size: vwh(65px);
  }

  @include Tablet {

  }

  @include Mobile {

  }
}

.text {
  font-size: vw(20px);
  font-weight: lighter;

  @include HD {
    font-size: vwh(20px);
  }

  @include Tablet {

  }

  @include Mobile {

  }
}


.about {
  max-width: vw(600px);

  @include HD {
    max-width: vwh(600px);
  }

  @include Tablet {

  }

  @include Mobile {

  }
}
