@import "../../scss/utils";

.list {
  display: flex;
  gap: vw(20px);

  @include HD {
    gap: vwh(20px);
  }

  @include Tablet {
    gap: vwt(20px);
  }

  @include Mobile {
    gap: vwm(20px);
  }
}

.item {
  a {
    display: inline-block;
    position: relative;
    margin: 4px;
    transition: transform 0.2s ease-in;

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease;
      border-radius: 50%;
      width: vw(30px);
      height: vw(30px);
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      &:before {
        box-shadow: 0 1px 9px 1px #c0c0c0;
        transition: all 0.1s ease;
      }
    }
  }

  svg {
    width: vw(32px);
    height: vw(32px);
    fill: #F0F8FF;
    transition: padding 0.2s ease-in-out;

    rect {
      fill: #F0F8FF;
    }

    @include HD {
      width: vwh(32px);
      height: vwh(32px);
    }

    @include Tablet {
      width: vwt(32px);
      height: vwt(32px);
    }

    @include Mobile {
      width: vwm(32px);
      height: vwm(32px);
    }
  }
}