@import "../../scss/utils";

.card {
  display: grid;
  grid-template-columns: vw(320px) auto;
  height: vw(320px);
  padding: 20px;
  border-radius: 6px;
  border: 1px solid rgba(240, 248, 255, 0.13);

  &:hover {
    border: 1px solid rgba(240, 248, 255);
  }
}

.content {
  display: grid;
  align-content: space-between;
}

.type {
  font-size: vw(18px);
  text-transform: uppercase;
  margin-bottom: vw(10px);
}

.line {
  display: flex;
  gap: vw(10px);
  margin-bottom: vw(10px);
  cursor: pointer;

  svg {
    stroke: #F0F8FF;
  }

  &:hover {
    color: #FF5E5E;

    svg {
      stroke: #FF5E5E;
    }
  }
}

.name {
  font-size: vw(40px);
  font-weight: 700;
}

.technologies {
  font-size: vw(18px);
}

.view {
  position: relative;
  display: grid;
  align-items: end;
  justify-content: end;
}

.images {
  width: 315px;
  height: vw(280px);

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
