@import "../../scss/utils";

.card {
  display: grid;
  grid-template-columns: vw(380px) auto;
  gap: vw(20px);
  padding: vw(20px);
  border-radius: vw(8px);
  border: vw(1px) solid rgba(240, 248, 255, 0.13);
  transition: border 0.15s ease-in-out;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: vw(1px) solid #F0F8FF;
    }
  }
}

.content {
  display: grid;
  gap: vw(20px);
  align-content: space-between;
  justify-items: start;
}

.type {
  font-size: vw(18px);
  text-transform: uppercase;
  margin-bottom: vw(10px);
}

.description {
  font-size: vw(16px);
}

.link {
  margin-bottom: vw(10px);
}

.git {
  display: inline-flex;
  margin-top: vw(20px);

  svg {
    transition: stroke 0.2s ease;
    stroke: var(--text-primary);
    width: vw(22px);
    height: vw(22px);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      svg {
        stroke: var(--link-color-hover);
      }
    }
  }

  &:active {
    svg {
      transition: stroke 0.1s ease;
      stroke: var(--link-color-active);
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: vw(8px);
}

.technologies {
  display: inline-flex;
  background-color: var(--text-primary);
  //background-color: rgba(140, 82, 10, 0.2);
  color: #141416;
  //color: var(--link-color);
  font-size: vw(14px);
  font-weight: bold;
  padding: vw(2px) vw(6px);
  border-radius: vw(8px);

  @include HD {
    font-size: vwh(14px);
  }

  @include Tablet {
    font-size: vwt(14px);
  }

  @include Mobile {
    font-size: vwm(14px);
  }

}

.view {
  position: relative;
  display: grid;
  align-items: end;
  justify-content: end;
}

.images {
  width: 100%;
  height: vw(280px);

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
