@import "../../scss/utils";

.card {
  display: grid;
  grid-template-columns: vw(380px) auto;
  gap: vw(20px);
  padding: vw(20px);
  border-radius: vw(8px);
  border: vw(1px) solid rgba(240, 248, 255, 0.13);
  transition: border 0.15s ease-in-out;

  @include HD {
    grid-template-columns: vwh(360px) auto;
    gap: vwh(20px);
    padding: vwh(20px);
    border-radius: vwh(8px);
    border: vwh(1px) solid rgba(240, 248, 255, 0.13);
  }

  @include Tablet {
    grid-template-columns: vwt(420px) auto;
    gap: vwt(20px);
    padding: vwt(20px);
    border-radius: vwt(8px);
    border: vwt(1px) solid rgba(240, 248, 255, 0.13);
  }

  @include Mobile {
    grid-template-columns: 1fr;
    gap: vwm(20px);
    padding: vwm(20px);
    border-radius: vwm(8px);
    border: vwm(1px) solid rgba(240, 248, 255, 0.13);
  }


  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: vw(1px) solid #F0F8FF;

      @include HD {
        border: vwh(1px) solid #F0F8FF;
      }

      @include Tablet {
        border: vwt(1px) solid #F0F8FF;
      }

      @include Mobile {
        border: vwm(1px) solid #F0F8FF;
      }
    }
  }
}

.content {
  display: grid;
  gap: vw(20px);
  align-content: space-between;
  justify-items: start;

  @include HD {
    gap: vwh(20px);
  }

  @include Tablet {
    gap: vwt(20px);
  }

  @include Mobile {
    gap: vwm(20px);
  }
}

.type {
  text-transform: uppercase;
  margin-bottom: vw(10px);

  @include HD {
    margin-bottom: vwh(10px);
  }

  @include Tablet {
    margin-bottom: vwt(10px);
  }

  @include Mobile {
    margin-bottom: vwm(10px);
  }
}

.description {
  font-size: vw(16px);

  @include HD {
    font-size: vwh(16px);
  }

  @include Tablet {
    font-size: vwt(16px);
  }

  @include Mobile {
    font-size: vwm(16px);
  }
}

.link {
  margin-bottom: vw(10px);

  @include HD {
    margin-bottom: vwh(10px);
  }

  @include Tablet {
    margin-bottom: vwt(10px);
  }

  @include Mobile {
    margin-bottom: vwm(10px);
  }
}

.git {
  display: inline-flex;
  margin-top: vw(20px);

  @include HD {
    margin-top: vwh(20px);
  }

  @include Tablet {
    margin-top: vwt(20px);
  }

  @include Mobile {
    margin-top: vwm(20px);
  }

  svg {
    transition: stroke 0.2s ease;
    stroke: var(--text-primary);
    width: vw(22px);
    height: vw(22px);

    @include HD {
      width: vwh(22px);
      height: vwh(22px);
    }

    @include Tablet {
      width: vwt(22px);
      height: vwt(22px);
    }

    @include Mobile {
      width: vwm(22px);
      height: vwm(22px);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      svg {
        stroke: var(--link-color-hover);
      }
    }
  }

  &:active {
    svg {
      transition: stroke 0.1s ease;
      stroke: var(--link-color-active);
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: vw(8px);

  @include HD {
    gap: vwh(8px);
  }

  @include Tablet {
    gap: vwt(8px);
  }

  @include Mobile {
    gap: vwm(8px);
  }
}

.technologies {
  display: inline-flex;
  background-color: var(--text-primary);
  color: #141416;
  font-size: vw(14px);
  font-weight: bold;
  padding: vw(2px) vw(6px);
  border-radius: vw(8px);

  @include HD {
    font-size: vwh(14px);
    padding: vwh(2px) vwh(6px);
    border-radius: vwh(8px);
  }

  @include Tablet {
    font-size: vwt(14px);
    padding: vwt(2px) vwt(6px);
    border-radius: vwt(8px);
  }

  @include Mobile {
    font-size: vwm(14px);
    padding: vwm(2px) vwm(6px);
    border-radius: vwm(8px);
  }
}

.view {
  position: relative;
  display: grid;
  align-items: end;
  justify-content: end;
}

.images {
  width: 100%;
  height: vw(280px);

  @include HD {
    height: vwh(240px);
  }

  @include Tablet {
    height: vwt(240px);
  }

  @include Mobile {
    height: vwm(240px);
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
