@import "../../scss/utils";

.nav {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
}

.numbers {
  display: grid;
  margin-right: vw(11px);

  li {
    font-size: vw(14px);
    font-weight: 700;
    height: vw(40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.line {
  position: relative;
  width: vw(2px);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: vw(2px);
}

.toddler {
  position: absolute;
  top: 0;
  left: 0;
  height: vw(40px);
  width: vw(2px);
  border-radius: vw(2px);
  background-color: #FFFFFF;
  transition: top 0.2s linear;
}

.right {
  margin-left: vw(15px);
  display: grid;
}

.link {
  cursor: pointer;
  text-transform: uppercase;
  font-size: vw(14px);
  font-weight: 700;
  height: vw(40px);
  align-items: center;
  display: inline-flex;
  transition: all 0.1s ease;

  &:active {
    text-shadow: 0 vw(3px) vw(13px) #c0c0c0;
  }
}
