@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--background-color);
  overflow: hidden;
  z-index: -2;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: var(--background-secondary-stars);
  top: 73%;
  left: 15%;
  animation-duration: 295s;
  animation-delay: -149s;
  transform-origin: 14vw -13vh;
  box-shadow: -2vmin 0 0.43360112025720965vmin currentColor;
}

.background span:nth-child(1) {
  color: var(--background-primary-stars);
  top: 58%;
  left: 11%;
  animation-duration: 12s;
  animation-delay: -292s;
  transform-origin: 16vw 14vh;
  box-shadow: 2vmin 0 0.6579770330665078vmin currentColor;
}

.background span:nth-child(2) {
  color: var(--background-primary-stars);
  top: 15%;
  left: 16%;
  animation-duration: 247s;
  animation-delay: -123s;
  transform-origin: -4vw -20vh;
  box-shadow: -2vmin 0 0.7463668658800144vmin currentColor;
}

.background span:nth-child(3) {
  color: var(--background-primary-stars);
  top: 95%;
  left: 90%;
  animation-duration: 98s;
  animation-delay: -92s;
  transform-origin: -17vw 25vh;
  box-shadow: -2vmin 0 0.3733185263497092vmin currentColor;
}

.background span:nth-child(4) {
  color: var(--background-secondary-stars);
  top: 50%;
  left: 85%;
  animation-duration: 52s;
  animation-delay: -223s;
  transform-origin: -17vw 17vh;
  box-shadow: -2vmin 0 0.9787663575988863vmin currentColor;
}

.background span:nth-child(5) {
  color: var(--background-secondary-stars);
  top: 66%;
  left: 84%;
  animation-duration: 71s;
  animation-delay: -296s;
  transform-origin: -14vw -7vh;
  box-shadow: 2vmin 0 0.49832216688102426vmin currentColor;
}

.background span:nth-child(6) {
  color: var(--background-secondary-stars);
  top: 85%;
  left: 67%;
  animation-duration: 137s;
  animation-delay: -34s;
  transform-origin: -9vw -3vh;
  box-shadow: -2vmin 0 1.0831519261093359vmin currentColor;
}

.background span:nth-child(7) {
  color: var(--background-secondary-stars);
  top: 97%;
  left: 90%;
  animation-duration: 290s;
  animation-delay: -68s;
  transform-origin: -8vw 24vh;
  box-shadow: -2vmin 0 1.1211052462598956vmin currentColor;
}

.background span:nth-child(8) {
  color: var(--background-secondary-stars);
  top: 46%;
  left: 60%;
  animation-duration: 257s;
  animation-delay: -274s;
  transform-origin: -15vw 18vh;
  box-shadow: -2vmin 0 0.362100954652681vmin currentColor;
}

.background span:nth-child(9) {
  color: var(--background-secondary-stars);
  top: 63%;
  left: 94%;
  animation-duration: 126s;
  animation-delay: -200s;
  transform-origin: -15vw 0vh;
  box-shadow: -2vmin 0 0.7818599655085499vmin currentColor;
}

.background span:nth-child(10) {
  color: var(--background-primary-stars);
  top: 12%;
  left: 73%;
  animation-duration: 19s;
  animation-delay: -38s;
  transform-origin: 9vw 12vh;
  box-shadow: 2vmin 0 0.8780079738085007vmin currentColor;
}

.background span:nth-child(11) {
  color: var(--background-primary-stars);
  top: 12%;
  left: 86%;
  animation-duration: 182s;
  animation-delay: -99s;
  transform-origin: 16vw -7vh;
  box-shadow: 2vmin 0 1.2474774612860418vmin currentColor;
}

.background span:nth-child(12) {
  color: var(--background-primary-stars);
  top: 34%;
  left: 64%;
  animation-duration: 183s;
  animation-delay: -21s;
  transform-origin: -19vw -21vh;
  box-shadow: 2vmin 0 0.39714839205545105vmin currentColor;
}

.background span:nth-child(13) {
  color: var(--background-primary-stars);
  top: 2%;
  left: 64%;
  animation-duration: 178s;
  animation-delay: -335s;
  transform-origin: -14vw -6vh;
  box-shadow: 2vmin 0 0.39619759187245407vmin currentColor;
}

.background span:nth-child(14) {
  color: var(--background-primary-stars);
  top: 7%;
  left: 49%;
  animation-duration: 278s;
  animation-delay: -275s;
  transform-origin: 13vw 1vh;
  box-shadow: -2vmin 0 0.5242615310574041vmin currentColor;
}

.background span:nth-child(15) {
  color: var(--background-secondary-stars);
  top: 78%;
  left: 26%;
  animation-duration: 339s;
  animation-delay: -324s;
  transform-origin: 9vw -14vh;
  box-shadow: 2vmin 0 0.30371231836156865vmin currentColor;
}

.background span:nth-child(16) {
  color: var(--background-secondary-stars);
  top: 8%;
  left: 75%;
  animation-duration: 155s;
  animation-delay: -282s;
  transform-origin: 1vw -3vh;
  box-shadow: 2vmin 0 0.8087838159478948vmin currentColor;
}

.background span:nth-child(17) {
  color: var(--background-secondary-stars);
  top: 85%;
  left: 97%;
  animation-duration: 61s;
  animation-delay: -74s;
  transform-origin: -15vw -10vh;
  box-shadow: 2vmin 0 1.0321620327127066vmin currentColor;
}

.background span:nth-child(18) {
  color: var(--background-secondary-stars);
  top: 1%;
  left: 82%;
  animation-duration: 295s;
  animation-delay: -58s;
  transform-origin: -13vw -5vh;
  box-shadow: 2vmin 0 0.33307937477583605vmin currentColor;
}

.background span:nth-child(19) {
  color: var(--background-secondary-stars);
  top: 78%;
  left: 42%;
  animation-duration: 199s;
  animation-delay: -144s;
  transform-origin: 15vw -15vh;
  box-shadow: -2vmin 0 1.074577709131729vmin currentColor;
}

.background span:nth-child(20) {
  color: var(--background-primary-stars);
  top: 27%;
  left: 97%;
  animation-duration: 124s;
  animation-delay: -276s;
  transform-origin: 0vw -10vh;
  box-shadow: -2vmin 0 0.88450593831301vmin currentColor;
}

.background span:nth-child(21) {
  color: var(--background-secondary-stars);
  top: 17%;
  left: 97%;
  animation-duration: 121s;
  animation-delay: -198s;
  transform-origin: -12vw -13vh;
  box-shadow: -2vmin 0 1.0013652710811778vmin currentColor;
}

.background span:nth-child(22) {
  color: var(--background-secondary-stars);
  top: 21%;
  left: 63%;
  animation-duration: 183s;
  animation-delay: -107s;
  transform-origin: -17vw 0vh;
  box-shadow: 2vmin 0 0.5344631755367526vmin currentColor;
}

.background span:nth-child(23) {
  color: var(--background-secondary-stars);
  top: 55%;
  left: 11%;
  animation-duration: 14s;
  animation-delay: -303s;
  transform-origin: 2vw -7vh;
  box-shadow: -2vmin 0 0.48944245950783394vmin currentColor;
}

.background span:nth-child(24) {
  color: var(--background-primary-stars);
  top: 16%;
  left: 30%;
  animation-duration: 54s;
  animation-delay: -216s;
  transform-origin: 21vw 1vh;
  box-shadow: -2vmin 0 1.0486802626667218vmin currentColor;
}

.background span:nth-child(25) {
  color: var(--background-secondary-stars);
  top: 95%;
  left: 46%;
  animation-duration: 210s;
  animation-delay: -25s;
  transform-origin: -9vw 6vh;
  box-shadow: -2vmin 0 0.5879978664996257vmin currentColor;
}

.background span:nth-child(26) {
  color: var(--background-primary-stars);
  top: 95%;
  left: 6%;
  animation-duration: 319s;
  animation-delay: -298s;
  transform-origin: 13vw 18vh;
  box-shadow: -2vmin 0 0.47094859198181216vmin currentColor;
}

.background span:nth-child(27) {
  color: var(--background-secondary-stars);
  top: 17%;
  left: 88%;
  animation-duration: 234s;
  animation-delay: -185s;
  transform-origin: -12vw -4vh;
  box-shadow: 2vmin 0 0.5430386574275179vmin currentColor;
}

.background span:nth-child(28) {
  color: var(--background-secondary-stars);
  top: 41%;
  left: 4%;
  animation-duration: 156s;
  animation-delay: -162s;
  transform-origin: 2vw 11vh;
  box-shadow: 2vmin 0 1.2130229227399583vmin currentColor;
}

.background span:nth-child(29) {
  color: var(--background-primary-stars);
  top: 27%;
  left: 98%;
  animation-duration: 153s;
  animation-delay: -91s;
  transform-origin: 20vw 7vh;
  box-shadow: 2vmin 0 0.58500315956585vmin currentColor;
}

.background span:nth-child(30) {
  color: var(--background-secondary-stars);
  top: 73%;
  left: 14%;
  animation-duration: 58s;
  animation-delay: -305s;
  transform-origin: 1vw -10vh;
  box-shadow: -2vmin 0 1.0600198536379142vmin currentColor;
}

.background span:nth-child(31) {
  color: var(--background-primary-stars);
  top: 29%;
  left: 79%;
  animation-duration: 174s;
  animation-delay: -52s;
  transform-origin: 0vw 3vh;
  box-shadow: 2vmin 0 0.8841665175567288vmin currentColor;
}

.background span:nth-child(32) {
  color: var(--background-secondary-stars);
  top: 97%;
  left: 69%;
  animation-duration: 15s;
  animation-delay: -64s;
  transform-origin: 6vw -23vh;
  box-shadow: -2vmin 0 0.8846497824159707vmin currentColor;
}

.background span:nth-child(33) {
  color: var(--background-secondary-stars);
  top: 32%;
  left: 8%;
  animation-duration: 35s;
  animation-delay: -258s;
  transform-origin: -15vw -21vh;
  box-shadow: 2vmin 0 0.3671876368961171vmin currentColor;
}

.background span:nth-child(34) {
  color: var(--background-secondary-stars);
  top: 53%;
  left: 22%;
  animation-duration: 33s;
  animation-delay: -158s;
  transform-origin: -20vw -10vh;
  box-shadow: -2vmin 0 0.6814928336445532vmin currentColor;
}

.background span:nth-child(35) {
  color: var(--background-primary-stars);
  top: 62%;
  left: 48%;
  animation-duration: 196s;
  animation-delay: -299s;
  transform-origin: -5vw -4vh;
  box-shadow: -2vmin 0 0.9355032058656556vmin currentColor;
}

.background span:nth-child(36) {
  color: var(--background-primary-stars);
  top: 75%;
  left: 50%;
  animation-duration: 254s;
  animation-delay: -40s;
  transform-origin: -20vw -18vh;
  box-shadow: -2vmin 0 0.8862045507848084vmin currentColor;
}

.background span:nth-child(37) {
  color: var(--background-secondary-stars);
  top: 27%;
  left: 5%;
  animation-duration: 77s;
  animation-delay: -60s;
  transform-origin: -21vw 14vh;
  box-shadow: -2vmin 0 0.6830899416136453vmin currentColor;
}

.background span:nth-child(38) {
  color: var(--background-secondary-stars);
  top: 6%;
  left: 80%;
  animation-duration: 212s;
  animation-delay: -72s;
  transform-origin: -20vw 15vh;
  box-shadow: -2vmin 0 0.7476394992438598vmin currentColor;
}

.background span:nth-child(39) {
  color: var(--background-primary-stars);
  top: 77%;
  left: 92%;
  animation-duration: 186s;
  animation-delay: -119s;
  transform-origin: -23vw -5vh;
  box-shadow: 2vmin 0 0.7359373972278043vmin currentColor;
}

.background span:nth-child(40) {
  color: var(--background-secondary-stars);
  top: 15%;
  left: 18%;
  animation-duration: 238s;
  animation-delay: -14s;
  transform-origin: 21vw -3vh;
  box-shadow: -2vmin 0 1.0910495891858671vmin currentColor;
}

.background span:nth-child(41) {
  color: var(--background-secondary-stars);
  top: 60%;
  left: 12%;
  animation-duration: 327s;
  animation-delay: -23s;
  transform-origin: 13vw -11vh;
  box-shadow: 2vmin 0 0.34703169906024844vmin currentColor;
}

.background span:nth-child(42) {
  color: var(--background-secondary-stars);
  top: 98%;
  left: 7%;
  animation-duration: 175s;
  animation-delay: -120s;
  transform-origin: -21vw -20vh;
  box-shadow: 2vmin 0 1.0212892069870356vmin currentColor;
}

.background span:nth-child(43) {
  color: var(--background-primary-stars);
  top: 28%;
  left: 25%;
  animation-duration: 93s;
  animation-delay: -234s;
  transform-origin: 9vw 23vh;
  box-shadow: 2vmin 0 0.4796489955247789vmin currentColor;
}

.background span:nth-child(44) {
  color: var(--background-primary-stars);
  top: 96%;
  left: 90%;
  animation-duration: 241s;
  animation-delay: -181s;
  transform-origin: 1vw -2vh;
  box-shadow: 2vmin 0 0.7228985473925666vmin currentColor;
}

.background span:nth-child(45) {
  color: var(--background-secondary-stars);
  top: 15%;
  left: 73%;
  animation-duration: 22s;
  animation-delay: -152s;
  transform-origin: 23vw -18vh;
  box-shadow: -2vmin 0 0.7090435793071348vmin currentColor;
}

.background span:nth-child(46) {
  color: var(--background-primary-stars);
  top: 34%;
  left: 76%;
  animation-duration: 220s;
  animation-delay: -342s;
  transform-origin: -10vw 11vh;
  box-shadow: -2vmin 0 0.7474080470680433vmin currentColor;
}

.background span:nth-child(47) {
  color: var(--background-primary-stars);
  top: 16%;
  left: 41%;
  animation-duration: 301s;
  animation-delay: -83s;
  transform-origin: 9vw -2vh;
  box-shadow: 2vmin 0 0.9416076466295134vmin currentColor;
}

.background span:nth-child(48) {
  color: var(--background-primary-stars);
  top: 53%;
  left: 86%;
  animation-duration: 49s;
  animation-delay: -79s;
  transform-origin: -21vw 7vh;
  box-shadow: -2vmin 0 0.8155632177193264vmin currentColor;
}

.background span:nth-child(49) {
  color: var(--background-primary-stars);
  top: 48%;
  left: 90%;
  animation-duration: 24s;
  animation-delay: -235s;
  transform-origin: 11vw -23vh;
  box-shadow: -2vmin 0 0.401541062017472vmin currentColor;
}
